[target.'cfg(all())']
rustflags = [
    "-Dwarnings",
    "-Dclippy::all",
    # "-Dclippy::pedantic",
    "-Aclippy::similar_names",
    "-Aclippy::too_many_arguments",
    "-Aclippy::type_complexity",
    "-Dclippy::needless_pass_by_value",
    "-Dclippy::redundant_allocation",
    "-Dclippy::unused_async",
    "-Dclippy::significant_drop_tightening",
    "-Dclippy::expect_used",
    "-Dclippy::unwrap_used",
    "-Dclippy::await_holding_lock",
    "-Dclippy::unnecessary_unwrap",
]
[target.x86_64-unknown-linux-gnu]
linker = "/usr/bin/clang"
rustflags = [
    "-C",
    "link-arg=--ld-path=/usr/bin/mold",
    "-C",
    "target-cpu=native",
]

[profile.release]
opt-level = 3
debug = false
lto = "fat"
codegen-units = 1
panic = "abort"
